<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="windows-1252"/>
 <link rel="shortcut icon" href="images/logo16.png"/>
 <link rel="stylesheet" type="text/css" href="css/re4ms.css"/>
 <script src='js/jquery.js'></script>
 <script> 
  $(function(){
   $("#includes").load("includes.html"); 
  });
 </script>
 <title th:text="'Re4ms status:' + ${status}">Re4ms</title>
</head>
<body class="mainSlab">
<!--h1>invites.html CHECK SECOND PHASE</h1-->
<div th:include="includes :: footer"></div>
<span th:text="${uuid}">uuid</span><br/>
<span th:text="${re4ms.getNicknames()}">nicknames</span>
<br/>
<p>
<span th:text="#{LINKPROMPT}">LINKPROMPT</span><br/>
<a th:href="${thelink}" th:text="${thelink}">thelink</a>
</p>
<table class="status_table"><col width="160"/>
<tr><th>Status</th><th>Advancement</th></tr>
<tr th:each="rd : ${rankDisplayList}">
 <td th:class="${rd.getNameTDclass()}" th:text="${rd.getName()}">leveName</td>
 <td th:class="${rd.getHelpTDclass()}" th:text="${rd.getHelp()}">leveDesc</td>
</tr>
</table>
</body></html>
